{% extends "reporting_app/base.html" %}

{% block info %}

    <form method="GET" action="{% url 'send_report' %}">
        {% csrf_token %}
        <h2 class="card-title">Push button to manually send report &nbsp;
            <button type="submit" class="btn btn-outline-primary btn-lg">Send</button>
        </h2>
    </form>


{% endblock info%}

{% block content %}
    <h3>
        Below information that the report file contains.</p>
    </h3>
    <h4>
        Temperature: {{temperature}}.</p>
        {% if active_actions %}
            {{active_actions}} drivers naw taking part in the action.</p>
        {% else %}
            Drivers are not taking part in any action now.</p>
        {% endif %}
    </h4>
{% endblock content %}

